
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/plugged/vim-colors-solarized"]
	path = vim/plugged/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
